APP_URL=http://localhost:3000

SUPABASE_URL=
SUPABASE_ANON_KEY=
SESSION_SECRET=

NODE_ENV=development
PORT=3000

AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
POWER_BI_AUTH_URL=
POWER_BI_API_URL=
POWER_BI_SCOPE=
