<%- include('../partials/header') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title text-danger mb-4">Oops! Algo deu errado</h1>
                    <p class="card-text mb-4"><%= message %></p>
                    
                    <% if (error && Object.keys(error).length > 0) { %>
                        <div class="alert alert-danger">
                            <h5>Detalhes do Erro:</h5>
                            <pre class="mb-0"><%= JSON.stringify(error, null, 2) %></pre>
                        </div>
                    <% } %>

                    <a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %> 