<%- include('../partials/header') %>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Erro</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= message %></h5>
                    <% if (error && process.env.NODE_ENV === 'development') { %>
                        <div class="alert alert-danger">
                            <pre><%= JSON.stringify(error, null, 2) %></pre>
                        </div>
                    <% } %>
                    <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %> 