<%- include('../partials/header') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Bem-vindo à Plataforma de Eventos!</h1>
            <p class="lead">Gerencie eventos, inscrições, certificados e muito mais de forma simples e eficiente.</p>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>